//
// Colors
//

//
// Basic Colors

// Main Colors
$g-color-main: #00ff00;

// Primary Color
$g-color-primary: #00ff00;

// Custom Color
$g-theme-color-gray-light-v1: #080808;
$g-theme-color-gray-light-v2: #080808;
$g-theme-color-gray-light-v3: #080808;
$g-theme-color-gray-dark-v1: #00ff00;
$g-theme-color-gray-dark-v3: #00ff00;
$g-theme-color-blue-dark-v1: #00ff00;
$g-theme-color-blue-dark-v2: #00ff00;
$g-theme-color-blue-dark-v3: #00ff00;
$g-theme-color-blue-dark-v4: #00ff00;
$g-theme-color-blue-dark-v5: #00ff00;