.navbar{
  margin-top: 60px;
  margin-bottom: 140px;
  margin:auto; 
}

.navbar-toggler{
  background-color: #592bff;

}

.center{
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.navbar-toggler-icon{

}

.nav-link{
  color: #592bff !important;
  width: 18rem;
  margin-right: 1rem;
  background-color: #1A1A1A;
  border-radius: 10px;
  font-weight: 600;
  align-items: center;
  font-size: 18px;
  padding-left: 10px;
  padding-right: 10px;

}


.navbar-nav, .navbar{
  background-color: #080808;

}