.navbar{
  margin: auto;
  margin-bottom: 1rem;
  }

.comming-soon{
  width:200px;
}

.logo{
  width:150px; 
}
  
  .footer{
    display: inline-block;
  }
  
  .navbar-toggler{
    background-color: #592bff;
  
  }
  
  .socials-h3{
  text-decoration: underline ;
  font-size: 30px;
  }
  
  .footer-socials{
    font-size: 20px !important;
    font-weight: 400;
    color: #592bff;
  }
  
  .footer-img {
    width: 250px !important;
  }
  
  .navigation{
    width:100%;
    display:inline-block;
  }
  
  .greyed{
    opacity: .4;
  }
  
  .copyright{
    color:#00ff00 !important; 
  }
  
  .nav-link{
    color: #592bff;
    width: 18rem;
    margin-right: 1rem;
    background-color: #1A1A1A;
    border-radius: 10px;
    font-weight: 600;
    align-items: center;
    font-size: 22px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
  
  }
  
  
  .navbar-nav, .navbar{
  
  }