.navbar{
margin: auto;
margin-bottom: 2rem;
}

.navbar-toggler{
  background-color: #592bff;

}

.navbar-toggler-icon{

}

.greyed{
  opacity: .4;
}

.nav-link{
  color: #592bff;
  width: 18rem;
  margin-right: 1rem;
  background-color: #1A1A1A;
  border-radius: 10px;
  font-weight: 600;
  align-items: center;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;

}


.navbar-nav, .navbar{
  background-color: #080808;

}